.portada{
    width:100%;
    border:1px solid #941f1a;
    margin-bottom:1em;
    /*max-height:300px;*/
}
.container{
    margin-top:5em;
}
nav{
    background-color:#721913;
    border-color:#721913;
}
nav.navbar div.container-fluid a{
    color:white;
}
nav.navbar li.active, nav.navbar li a:hover{
    background-color:#941f1a;
}
#author{
    color:#721913;
}