@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(expression: Expression)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Expression "+expression.getId()) {
<p><b>Title: </b>@expression.getTitle()</p>
<p><b>Label: </b>@expression.getLabel()</p>
<p><b>Language: </b>@expression.getLanguage()</p>
<p><b>Work expressed: </b>@expression.getWork()</p>
<p><b>Manifestations:</b></p><ul>
@for(m <- expression.getManifestations()) {
    <li>@m.getUrl()</li>
}
</ul>
}
