@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message) {
<div ng-controller="SearchController as sc">
    <form ng-submit="sc.search()" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="author">Author:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="sc.author" id="author" class="form-control"  size="30" placeholder="Author" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="year">Year:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="sc.year" id="year" class="form-control"  size="30" placeholder="Year" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lang">Language:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="sc.lang" id="lang" class="form-control"  size="30" placeholder="Language" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="sc.title" id="title" class="form-control"  size="30" placeholder="Title" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    <div infinite-scroll='sc.loadMore()' infinite-scroll-distance='1' infinite-scroll-disabled='sc.scrollDisabled' class="row">
        <div ng-repeat="book in sc.books" class="col-lg-3 book">
            <a href="manifestation/{{book.manifestationId.value}}"><img class="portada" src="{{book.portada.value}}" /></a>
        </div>
    </div>
</div>
}
