@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@()

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Manifestations") {
<div ng-controller="ManifestationController as mc">
 <form ng-submit="mc.getManifestation()" class="form-horizontal" role="form">
  <div class="form-group">
   <label class="control-label col-sm-2" for="mid">Manifestation id:</label>
   <div class="col-sm-4">
    <input type="text" ng-model="mc.mid" id="mid" class="form-control"  size="30" placeholder="id" />
   </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Submit</button>
   </div>
  </div>
 </form>
</div>
}
