@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(manifestation: Manifestation)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Manifestation "+manifestation.getId()) {
<h3>@manifestation.getTitle() <span id="author">@manifestation.getAuthor()</span></h3>
<img src="@manifestation.getPortada()" width="200px"/>
<p><b>Title: </b>@manifestation.getTitle()</p>
<p><b>Language: </b>@manifestation.getLanguage()</p>
}
